:root {
  --main-color: rgb(41, 106, 163);
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--secondary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  color: var(--main-color);
  font-size: 94px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

i {
  color: var(--main-color);
}

nav ul {
  padding: 0;
  /* margin: 0; */
}

nav li {
  display: inline;
  /* list-style: none; */
  /* line-height: 30px; */
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--main-color);
}

nav {
  padding: 20px 0;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 80px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

footer .email-link:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background-color: #eee9f9;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

footer .social-links a i {
  font-size: 25px;
  line-height: 1;
}

footer .social-links a:hover {
  background-color: var(--main-color);
}

footer .social-links a:hover i {
  color: #eee9f9;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 85px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--secondary-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.content-container {
  padding: 55px 20px;
}

.content h1 {
  font-size: 58px;
  line-height: 72px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}
.content h3 {
  font-size: 24px;
  line-height: 1.4;
  font-family: var(--secondary-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 25px;
}

.btn-branding {
  background: var(--main-color);
  border-radius: 6px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 28px;
  padding: 9px 25px;
}

.btn-work {
  margin: 50px;
}

.btn-branding-outline {
  border: 1px solid var(--main-color);
  border-radius: 6px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 28px;
  padding: 9px 25px;
}

.project-description {
  padding: 120px 60px;
}

.img-padding {
  padding: 150px 10px 50px 10px;
}

@media (max-width: 991px) {
  h3 {
    font-size: 38px;
    margin-top: 25px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 451px) {
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  p {
    line-height: 1.2;
  }

  .content h1 {
    font-size: 38px;
    line-height: 1.1;
  }
}

@media (max-width: 570px) {
  .img-fluid {
    width: 380px;
  }
  i {
    font-size: 28px;
  }

  nav a {
    font-size: 14px;
  }
}
